
body {
    margin: 10px;
    font-size: 1.25em;
}


main {
    margin: 10px;
}


article {
    margin-bottom: 10px;
}


article img {
    margin-right: 10px;
    margin-left: 10px;

}


article:nth-of-type(even) img {
    float: right;
}

article:nth-of-type(odd) img {
    float: left;
}

article::after {
    content: "";
    display: table;
    clear: both;
}
