body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F4F8;
}

header {
    background-color: #2B2D42;
    color: #EDF2F4;
    padding: 30px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 80px;
    margin: 0;
}

header h2 {
    font-size: 40px;
    margin: 0;
}

header p {
    color: #8D99AE;
}

header a {
    color: #EF233C;
    text-decoration: none;
}

.education {
    background-color: #8D99AE;
    padding: 30px;
}

footer {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-top: 10px;
}

footer h2 {
    color: #EDF2F4;
}

footer a {
    color: #EF233C;
    text-decoration: none;
    margin-right: 10px;
}

footer p {
    margin-top: 10px;
}
