.checklist {
    list-style-type: none;
    padding-left: 0;
}

.checklist li {
    padding-left: 25px;
    position: relative;
}

.checklist li.checked::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/checked.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.checklist li:not(.checked)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/unchecked.png');
    background-size: contain;
    background-repeat: no-repeat;
}
